*
{
    margin: 0;
    padding: 0;
}


.first
{   

    /* setting border */
    border-width: 10px;
    border-style: solid;
    border-color: brown;

    /* setting border radius */
    border-radius: 10px;

    /* setting padding */
    padding: 100px;
    
    /* setting margin to position the element in the center */
    margin: 10px;

    /* Specifying the content area for the element */
    height: 100px;
    width: 100px;

    /* setting background */
    background-color: yellow;

    /* Handling overflow */
    overflow: scroll;
}






span
{
    background-color: rgb(121, 121, 165);
    height: 100px;
}


.next
{
    /* setting content area to negative forcly  */
    height: 10px;
    width: 600px;
    background-color: rgb(128, 238, 3);

    /* setting border */
    border-width: 10px;
    border-style: solid;
    border-color: rgb(24, 4, 209);

    /* setting border radius */
    border-radius: 20px;

    /* setting padding */
    padding: 20px;

    /* handling overflow */
    overflow: scroll;
    
}

